.displayNone {
  display: none;
}

.leaflet-control-geosearch {
  position: relative;
}

.leaflet-control-geosearch a {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-bottom: none;
}

.leaflet-control-geosearch a.glass {
  background-image: url(../img/geosearch.png);
  background-size: 100% 100%;
}

.leaflet-control-geosearch a.spinner {
  background-image: url(../img/spinner.gif);
  background-position: 50% 50%;
}

.leaflet-control-geosearch a.alert {
  background-image: url(../img/alert.png);
  background-size: 64% 64%;
}

.leaflet-control-geosearch a:hover {
  border-bottom: none;
}

.leaflet-control-geosearch form {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 0 4px 4px 0;
  height: 26px;
  margin: -26px 0 0 22px;
  padding: 0;
}

.leaflet-touch .leaflet-control-geosearch form {
  background: none repeat scroll 0 0 #F4F4F4;
  margin: -30px 0 0 24px;
  height: 30px;
}

.leaflet-control-geosearch form input {
  border: none;
  border-radius: 0 4px 4px 0;
  display: block;
  margin: 0px 2px 0 9px;
  padding: 5px 4px 4px 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
}

.leaflet-touch .leaflet-control-geosearch form input {
}

.leaflet-control-geosearch .message {
  position: absolute;
  top: 26px;
  left: 0px;
  width: 226px;
  color: #FFF;
  background: rgb(40, 40, 40);
  padding: 4px 0 4px 8px;
}
